.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.categ ul{background-color: white;}


.categ {
  max-width: 600px;
  width: 100%;
  padding: 5px;
}

.recipe{
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: bisque;
  padding-left: 1rem;
}

.title {
  text-align: center;
}

.rList{
  display: grid;
  justify-content: center;
  align-items: center;
  list-style: none; 
}

.rName{
  text-align: center;
  text-decoration: underline;
}

.categ p{
  font-weight: bold;
  margin-bottom: 0px;
}

.ingList{
  display: grid;
  list-style-type: disc;
}

.iList{
  display: grid;
}

.bulk ul{
  background-color: white;
}

.nList{
  list-style-type: disc;
  /* padding: 5px; */
  display: grid;
}