.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content; 
}

.categ ul{background-color: white;}

.categ {
  max-width: 1000px;
  width: 100%;
  padding: 5px;
}

.rList {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px; 
  /* justify-content: flex-start; */
  align-items: flex-start;
  padding: 0;
  width: 100%;
}

.recipe {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: bisque;
  width: 20rem;
  box-sizing: border-box;
  position: relative; /* Set this so the button is positioned relative to the card */
}


.title {
  text-align: center;
}

.rName{
  text-align: center;
  text-decoration: underline;
}

.categ p{
  font-weight: bold;
  margin-bottom: 0px;
}

.ingList{
  display: grid;
  list-style-type: disc;
}

.iList{
  display: grid;
}

.bulk ul{
  background-color: white;
}

.nList{
  list-style-type: disc;
  /* padding: 5px; */
  display: grid;
}

.goto-btn{
  background-color: white;
  border-radius: 10px;
  height: 2rem;
  width: 4rem;
  border: 1px solid black;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px; 
}