body {
  background-color: black;
  color: white;
  margin: 0;
}

nav{
  position: sticky;
  top: 0;
}

ul {
  position: static;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.2s;
}

#logo:hover{
  background-color: #333;
  transition-duration: 0.2s;
}

li a:hover {
  background-color: #d8a600b9;
  transition-duration: 0.2s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.options {
  text-align: center; 
  background-image: url("../img/PP-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  /* 5.6rem */
  height: 35rem;
  width: 100%;
  display: flex; 
  align-items: center;
}

.buttons{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.buttons button{
  font-weight: bold;
  height: 3.5rem;
  width: 10rem;
  border-radius: 15px;
  border: 0px;
  background-color: rgba(234, 174, 23, 0.558);
  color: black;
  transition-duration: 250ms;
}

.buttons button:hover{
  border: 2px solid white;
  transform: translateY(-1rem);
  transition-duration: 250ms;
}

.second{
  background-color: goldenrod;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  max-width: 600px;
}

.about p {
  display: inline-block; 
  text-align: left; 
}

